@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
	font-family: "Sora", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}
.appContainer {
}

/* theme
light: #738cff
primary: #305fe2
dark: #0036af */
